<!DOCTYPE html>
<head>
    <title>Hello.</title>
    <meta charset="utf-8">
</head> 
<body>
    <h1>This is Plotly Dash Template on Flask.</h1>
    <h2>Github Repository</h2>
    <a href="https://github.com/swanaka/flask-dash-template">https://github.com/swanaka/flask-dash-template</a>
    <h2>Learning Guide</h2>
    <a href="https://paper.dropbox.com/doc/Flask-Dash--A0eVsJqVoTUNhGea2J31bTQJAQ-UxXY7LUnruW2ANlCf3D1V">https://paper.dropbox.com/doc/Flask-Dash--A0eVsJqVoTUNhGea2J31bTQJAQ-UxXY7LUnruW2ANlCf3D1V</a>
    <h2>Related software, service, and library</h2>
    <ul>
        <li>Python 3.8</li>
        <li>Visual Studio Code </li>
        <li>Microsoft Azure</li>
        <li>Github</li>
        <li>FLask</li>
        <li>Plotly Dash</li>
    </ul>
</body>
</html> 